body {
    background-color: rgb(185, 184, 184);
    user-select: none;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 80px;
    font-size: 80px;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    font-family: 'Rouge Script', cursive; 
}

h2 {
    visibility: hidden;
    display: flex;
    justify-content: center;
    font-size: 40px;
    -webkit-animation: blink;
    animation: blink 1s infinite;
    font-family: 'Rouge Script', cursive; 
}

@keyframes blink {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
    }
}

#wordContainer {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.letterBoxes {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 60px;
    font-family: 'Rouge Script', cursive; 
}

.lettersUnderScore {
    visibility: visible;
    margin-left: 5px;
    margin-top: -80px;
    font-size: 60px;
    font-family: 'Rouge Script', cursive; 
}

#inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#letterInput {
    width: 200px;
    min-width: 200px;
    height: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 5px;
    font-family: 'Rouge Script', cursive; 
    background-color: rgb(185, 184, 184);
    border: 6px solid black;
    border-radius: 5px;
    text-align: center
}

#letterInput::placeholder {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.219);
    background-color: rgb(185, 184, 184);
}

#letterGuesses {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Rouge Script', cursive; 
}

#hangArm {
    max-width: 50%;
    height: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 2px;
    border: 2px solid black;
    background-color: black;
}

#hangEndContainer {
    display: flex;
    justify-content: center;
}

#hangEnd {
    height: 40px;
    width: 7px;
    background-color: black;
}

#headContainer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

#circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid black;
}

#bodyContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#stickBody {
    width: 10px;
    height: 250px;
    background-color: black;
}

#leftArm {
    width: 10px;
    height: 100px;
    margin-left: -60px;
    background-color: black;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

#rightArm {
    width: 10px;
    height: 100px;
    margin-left: 40px;
    margin-right: -80px;
    background-color: black;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

#legContainer {
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

#leftLeg {
    width: 10px;
    height: 100px;
    margin-right: 100px;
    border-top-left-radius: 4px;
    background-color: black;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

#rightLeg {
    width: 10px;
    height: 100px;
    border-top-right-radius: 4px;
    background-color: black;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

#messages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
}

#failMsg {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    font-family: 'Rouge Script', cursive; 
    color: rgba(255, 0, 102, .7)
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   